@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300;400&family=Gamja+Flower&family=Hi+Melody&display=swap');

body {
  background-color: #f6f6f6;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Dongle', sans-serif;
  min-height: 100vh;
  margin: 0;
}

@media (min-width : 650px) { /* 폭이 650px 이상인 경우 */
  .App {
    width: 640px;
  }
}

@media (max-width : 650px) { /* 폭이 650px 이하인 경우 */
  .App {
    width: 90vw;
  }
}

#root {
  background-color: white;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

.App {
  min-height: 100vh;
  padding-left: 1rem;
  padding-right: 1rem;
}

/* MyButton */
.MyButton {
  cursor: pointer;

  border: none;
  border-radius: 6px;
  padding: 0.5rem 1rem;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
  
  font-size: 1.3rem;
  font-family: 'Gamja Flower', sans-serif;
  white-space: nowrap;
}

.MyButton_default {
  background-color: #ececec;
  color: black;
}

.MyButton_positive {
  background-color: #FFCD4B;
  color: white;
}

.MyButton_negative {
  background-color: #fd565f;
  color: white;
}

/* Header */
header {
  padding: 1rem 0;
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e2e2e2;
}

header > div {
  display: flex;
}

header .head_text {
  width: 50%;
  font-size: 3rem;
  justify-content: center;
  text-shadow: 1px 1px 2px rgb(0, 0, 0, 0.4);
}

header .head_btn_left {
  width: 25%;
  justify-content: start;
}

header .head_btn_right {
  width: 25%;
  justify-content: end;
}

header .MyButton {
  font-family: 'Gamja Flower', sans-serif;
}


/* DiaryList */

.DiaryList .menu_wrapper {
  margin: 1rem 0 1.5rem 0;
  display: flex;
  justify-content: space-between;
}

.DiaryList .menu_wrapper .right_col {
  flex-grow: 1;
}

.DiaryList .menu_wrapper .right_col button {
  width: 100%;
}

.DiaryList .ControlMenu {
  background-color: #ececec;

  height: 100%;
  border: none;
  border-radius: 5px;
  margin-right: 1rem;
  padding: 0 0.5rem;

  cursor: pointer;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5rem;

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

/* DiaryItem */
.DiaryItem {
  padding: 1rem 0;
  border-bottom: 1px solid #e2e2e2;
  display: flex;
  align-items: center;
}

.DiaryItem .emotion_img_wrapper {
  cursor: pointer;
  min-width: 120px;
  height: 5rem;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.DiaryItem .emotion_img_wrapper_1 {
  background-color: #64c964;
}
.DiaryItem .emotion_img_wrapper_2 {
  background-color: #9dd772;
}
.DiaryItem .emotion_img_wrapper_3 {
  background-color: #fdce17;
}
.DiaryItem .emotion_img_wrapper_4 {
  background-color: #fd8446;
}
.DiaryItem .emotion_img_wrapper_5 {
  background-color: #fd565f;
}

.DiaryItem .info_wrapper {
  flex-grow: 1;
  margin-left: 0.8rem;
  cursor: pointer;
}

.DiaryItem .diary_date {
  font-weight: bold;
  font-size: 1.3rem;
  margin-bottom: 0.3rem;
}

.DiaryItem .diary_content_preview {
  font-size: 1.5rem;
}

.DiaryItem button {
  font-size: 1rem;
}

/* DiaryEditor */
.DiaryEditor section {
  margin-top: 2.5rem;
  text-align: center;
}

.DiaryEditor h4 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.DiaryEditor .input_date {
  border: none;
  border-radius: 5px;
  background-color: #ececec;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

  padding: 0.3rem 0.8rem;

  cursor: pointer;
  font-family: 'Dongle', sans-serif;
  font-size: 1.5rem;
}

.DiaryEditor .emotion_list_wrapper {
  display: grid;
  grid-template-columns: repeat(5, auto);
  gap: 2%;
}

.DiaryEditor textarea {
  font-family: 'Hi Melody', sans-serif;
  font-size: 1rem;

  box-sizing: border-box;
  width: 100%;
  min-height: 10rem;
  resize: vertical;

  border: none;
  border-radius: 5px;
  background-color: #ececec;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);

  padding: 0.7rem;
}

.DiaryEditor .control_box {
  display: flex;
  justify-content: space-between;
  align-items: center
}

/* EmotionItem */

.EmotionItem {
  cursor: pointer;

  border-radius: 5px;
  padding: 1rem 0;

  display: flex;
  flex-direction: column;
  align-items: center;

  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.3);
}

.EmotionItem img {
  width: 50%;
}

.EmotionItem span {
  font-size: 1.3rem;
}

.EmotionItem_off {
  background-color: #ececec;
}

.EmotionItem_on_1 {
  background-color: #64c964;
  color: white;
}
.EmotionItem_on_2 {
  background-color: #9dd772;
  color: white;
}
.EmotionItem_on_3 {
  background-color: #fdce17;
  color: white;
}
.EmotionItem_on_4 {
  background-color: #fd8446;
  color: white;
}
.EmotionItem_on_5 {
  background-color: #fd565f;
  color: white;
}